name: Build Backend

on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build
              run: docker build -t ghcr.io/${{ github.repository_owner }}/ccore-ai-demo-backend:latest backend/

            - name: Push
              run: docker push ghcr.io/${{ github.repository_owner }}/ccore-ai-demo-backend:latest
